body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #46acff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

input, button {
    padding: 0.5rem;
    font-size: 15px;
    margin-right: 0.5rem;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button.complete {
    background-color: #28a745;
}

button.delete {
    background-color: #dc3545;
}

button.edit {
    background-color: darkgoldenrod;
}

button:hover {
    opacity: 0.8;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
